$ cat .gitignore

# Can ignore specific files
#.DS_Store
.gitignore
.gitattributes

# Use wildcards as well
#*~
*#.swp

# Can also ignore all directories and files in a directory.
#tmp/**/* 
01_Archiv
03_PCB
06_Release

